{% extends "_layout" %}
{% set bodyClass = "index" %}

{% block content %}
	{# {% cache until midnight %}{% minify %} #}

			<button type="button" id="btn-startstop">.don't &nbsp; &nbsp; &nbsp; annoy me</button>
			<article class="inner-wrapper">
				<h1>Haunted Mansions</h1>
				<a href="/">
					<img class="bandlogo" src="{{footer.bilde[0].url}}" alt="Haunted Mansions">
				</a>
				<div class="submenu">
					{{ craft.amNav.getNav("mainMenu") }}
					{% for knapp in footer.social %}
						<a href="{{knapp.social_url}}" target="_blank">
							<img class="social-icons" src="{{knapp.social_ikon[0].url}}">
						</a>
					{% endfor %}
				</div>

				<div class="visualizer" data-lydfil="{{entry.lydfil[0].url}}">
					<canvas id="freq"></canvas>
					<span id="loading"></span>
				</div>


				<article class="text-block">
					<h2 id="about">.about the music</h2>
					{{entry.aboutTheMusic}}
				</article>

				{% if entry.events|length %}
					<article class="text-block">
						<h2 id="events">.upcoming events</h2>

						{% for event in entry.events.event %}
							<a href="/{{event.event_url}}" class="event" target="_blank">
								<p>{{event.dato}}</p>
								<p>{{event.navn}}</p>
							</a>
						{% endfor %}

					</article>
				{% endif %}


				{# <article class="text-block" id="kontaktskjema">
					<h2 id="contact">.contact</h2>
					<p>Drop us a line!</p>
					{{ craft.sproutForms.displayForm('contact') }}
				</article>

			</article> #}


	{# {% endminify %}{% endcache %} #}
{% endblock %}
